@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    @apply -translate-y-2 text-xsmall-regular;
  }

  input:focus ~ label {
    @apply left-0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid #212121;
    -webkit-text-fill-color: #212121;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-4;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }
}

@layer backgrounds {
  .bg-ui-bg-base {
    background-color: rgba(255, 255, 255, 1);
  }
  

  .bg-ui-bg-base-hover {
      background-color: rgba(249, 250, 251, 1);
  }

  .bg-ui-bg-base-pressed {
      background-color: rgba(243, 244, 246, 1);
  }

  .bg-ui-bg-component {
      background-color: rgba(241, 243, 245, 1);
  }

  .bg-ui-bg-disabled {
      background-color: #FF5733 !important;
  }

  .bg-ui-bg-field {
      background-color: rgba(249, 250, 251, 1);
  }

  .bg-ui-bg-field-hover {
      background-color: white;
  }

  .bg-ui-bg-highlight {
      background-color: rgba(239, 246, 255, 1);
  }

  .bg-ui-bg-highlight-hover {
      background-color: rgba(219, 234, 254, 1);
  }

  .bg-ui-bg-interactive {
      background-color: rgba(59, 130, 246, 1);
  }

  .bg-ui-bg-overlay {
      background-color: rgba(3, 7, 18, 0.4);
  }

  .bg-ui-bg-subtle {
      background-color: rgba(249, 250, 251, 1);
  }

  .bg-ui-bg-subtle-hover {
      background-color: white;
  }

  .bg-ui-bg-subtle-pressed {
      background-color: rgba(229, 231, 235, 1);
  }

  .bg-ui-bg-switch-off {
      background-color: rgba(229, 231, 235, 1);
  }

  .bg-ui-bg-switch-off-hover {
      background-color: rgba(209, 213, 219, 1);
  }
}

@layer foregrounds {
  .text-ui-fg-base {
    color: rgba(3, 7, 18, 1);
  }

  .text-ui-fg-disabled {
      color: rgba(209, 213, 219, 1);
  }

  .text-ui-fg-error {
      color: rgba(225, 29, 72, 1);
  }

  .text-ui-fg-interactive {
      color: rgba(59, 130, 246, 1);
  }

  .text-ui-fg-interactive-hover {
      color: rgba(37, 99, 235, 1);
  }

  .text-ui-fg-muted {
      color: rgba(156, 163, 175, 1);
  }

  .text-ui-fg-on-color {
      color: rgba(255, 255, 255, 1);
  }

  .text-ui-fg-on-inverted {
      color: rgba(255, 255, 255, 1);
  }

  .text-ui-fg-subtle {
      color: rgba(75, 85, 99, 1);
  }
}

@layer borders {
  .border-ui-border-base {
    border-color: rgba(229, 231, 235, 1);
  }

  .border-ui-border-danger {
      border-color: rgba(190, 18, 60, 1);
  }

  .border-ui-border-error {
      border-color: rgba(225, 29, 72, 1);
  }

  .border-ui-border-interactive {
      border-color: rgba(59, 130, 246, 1);
  }

  .border-ui-border-loud {
      border-color: rgba(3, 7, 18, 1);
  }

  .border-ui-border-strong {
      border-color: rgba(209, 213, 219, 1);
  }

  .border-ui-border-transparent {
      border-color: rgba(3, 7, 18, 0);
  }
}

@layer inputs {
  .bg-ui-bg-field {
    background: white !important;
    border: 1px solid #2D2A6E !important;
    text-color: #FF813A !important;
  }
  .bg-ui-tag-neutral-bg {
    background: white !important;
  }
  .bg-ui-bg-base{
    background: white !important;
    color: black;
  }
  .text-ui-fg-base{
  color: black !important;
  }
  .text-ui-fg-interactive {
   color: #2D2A6E !important;
  }
  .text-ui-fg-subtle{
    color: #444 !important;
  }

  .bg-ui-bg-subtle {
    background: white !important;
    border: 1px solid #2D2A6E !important;
    text-color: #FF813A !important;
  }
}

@layer buttons {
  
  .disabled\:bg-ui-bg-disabled:disabled {
    background: #FFA16B !important;
  }

  .disabled\:text-ui-fg-disabled:disabled {
    color: white !important;
  }

  .bg-ui-button-danger {
    background-color: rgba(225, 29, 72, 1);
  }

  .bg-ui-button-danger-hover {
      background-color: rgba(190, 18, 60, 1);
  }

  .bg-ui-button-danger-pressed {
      background-color: rgba(159, 18, 57, 1);
  }

  .bg-ui-button-inverted {
      background-color: rgba(3, 7, 18, 1);
  }

  .bg-ui-button-inverted-hover {
      background-color: rgba(17, 24, 39, 1);
  }

  .bg-ui-button-inverted-pressed {
      background-color: rgba(31, 41, 55, 1);
  }

  .bg-ui-button-neutral {
      background-color: rgba(255, 255, 255, 1);
  }

  .bg-ui-button-neutral-hover {
      background-color: rgba(243, 244, 246, 1);
  }

  .bg-ui-button-neutral-pressed {
      background-color: rgba(229, 231, 235, 1);
  }

  .bg-ui-button-transparent {
      background-color: rgba(255, 255, 255, 0.01);
  }

  .bg-ui-button-transparent-hover {
      background-color: rgba(243, 244, 246, 1);
  }

  .bg-ui-button-transparent-pressed {
      background-color: rgba(229, 231, 235, 1);
  }


  .shadow-buttons-inverted{
    box-shadow: none !important;
  }
  .bg-ui-button-inverted{
    background: #FF813A !important;
  }
  .text-ui-fg-on-inverted{
    color: white !important;
  }
  .btn-secondary {
    border: 2px solid #FF5733 !important;
    color: black !important;
    background: none !important;
  }
}

@layer code {
  .bg-ui-code-bg-base {
    background-color: rgba(17, 24, 39, 1);
  }

  .bg-ui-code-bg-subtle {
      background-color: rgba(31, 41, 55, 1);
  }

  .border-ui-code-border {
      border-color: rgba(55, 65, 81, 1);
  }

  --code-fg-base {
      color: rgba(249, 250, 251, 1);
  }

  --code-fg-muted {
      color: rgba(107, 114, 128, 1);
  }

  --code-fg-subtle {
      color: rgba(156, 163, 175, 1);
  }
}